@page "/"
@inject HttpClient Http
@inject IJSRuntime JSRuntime

<Animate Animation="Animations.FadeIn" Duration="TimeSpan.FromSeconds(1)">
    <ActivityCriteriaCard @bind-Activities="Activities" />
</Animate>

@if (Activities != null && Activities.Any())
{
    <div class="row">
        @foreach (var activity in Activities)
        {
            <div class="col-md-6 w-h-animation">
                <Animate Animation="Animations.SlideLeft" Duration="TimeSpan.FromSeconds(1)">
                    <ActivityCard Activity="activity" />
                </Animate>
            </div>
        }
    </div>
}