@page "/"
<Animate Animation="Animations.FadeIn" Duration="TimeSpan.FromSeconds(0.5)">
    <ActivityCriteriaCard @bind-Activities="Activities" />
</Animate>

@if (Activities != null && Activities.Any())
{
    <div class="row">
        @foreach (var activity in Activities)
        {
            <div class="col-md-6">
                <Animate Animation="Animations.FadeIn" Duration="TimeSpan.FromSeconds(0.2)">
                    <ActivityCard Activity="activity" OnFavourite="() => HandleFavourite(activity)" IsFavourite="false"/>
                </Animate>
            </div>
        }
    </div>
}

<h3 class="mt-3">Favourites</h3>
@if (!FavouriteActivities.Any())
{
    <h4>You don't seem to have any favourite activities yet!</h4>
}
else
{
    <div class="row">
        @foreach (var activity in FavouriteActivities)
        {
            <div class="col-md-6">
                <Animate Animation="Animations.FadeIn" Duration="TimeSpan.FromSeconds(0.2)">
                    <ActivityCard Activity="activity" OnFavourite="() => HandleFavourite(activity)" IsFavourite="true"/>
                </Animate>
            </div>
        }
    </div>
}